@page "/bloqueado"
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta bloqueada";
}

<header>
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <p class="text-danger text-center">Esta cuenta a sido bloqueada, por favor intentalo mas tarde o contacta con el administrador del sitio.</p>
</header>
